@import "fonts";
@import "colors";
@import "style";


.container-sm{
   background-color: $color-purple; 
   font-family: $headline-text;

}

.navwrap{
   height: 100px;
}

.spons{
   color:$color-black ;
   
}

.foot{
   background-color: $color-green;
   font-family: $reg-text;
}
