@import "fonts";
@import "colors";
@import "style";


.container-sm{
   background-color: $color-purple; 
   font-family: $headline-text;
   

}

.navwrap{
   height: 100px;
}

.spons{
   color:$color-black ;
   
}

.foot{
   background-color: $color-green;
   
   // font-family: $reg-text;
}

.index{
   background-color: $color-gray;
}

.fqa{
   background-color: $color-orange;
   color: $color-purple;
   font-family: $reg-text;
}


.fqalines{
   background-color: red;
   padding: 0.5%;
   border-radius: 50px ;
   box-shadow: 5px 10px 18px #888888;
   
}

#about{
   background-color: $color-purple;
   margin-top: 10%;
}

h1{
   text-align: center;
   margin-top: 2%;
}

.lets{
   text-align: center;
   color: #dbddf1;
   font-family: $headline-text ;
   text-decoration: underline;
}

p{
   font-family: $spc-text;

}

#contact{
   background-image: url(/IMG/pexels-photo-2263410.jpeg);
}


// sass for media page start

img{
   max-width: 100%;
}
.gallery{
   background-color: #dbddf1;
	padding: 80px 0;
}
.gallery img{
   background-color: #ffffff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
   width: 100%;
}
// sass for media page end
